@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap");
@import "./variables.css";
@import "./navigation/navigation.css";
@import "./main/main.css";
@import "./main/media.css";
@import "./personalInfoPanel/personalInfoPanel.css";
@import "./socialMediaPanel/socialMediaPanel.css";
@import "./animations/animations.css";

html {
  /* font-size: 16px; */
  font-family: "Zilla Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}

body {
  background-color: var(--background-color);
  position: relative;
}
