:root {
  --main-border-color: rgba(255, 255, 255, 0.15);
  --background-color: rgb(0, 0, 0);
  --primary-font-color: rgb(128, 128, 128);
  --secondary-font-color: rgb(255, 255, 255);
  --highlight-font-color: rgb(75, 255, 165);
}
